[Unit]
Description=dhcpd config generator
Wants=network.target etcd.service
After=network.target etcd.service

[Service]
ExecStart=/usr/sbin/cdhcpd --domain={{lochness_domain}}
Restart=always

[Install]
WantedBy=default.target
