[Unit]
Description=Mistify Hypervisor Bootstrap Server
Wants=network.target
After=network.target

[Service]
ExecStart=/usr/sbin/cbootstrapd --base=http://ipxe.services.{{ lochness_domain }}:8888 --options=ramdisk_size=200000\srw\smistify.zfs=auto\szfs=auto
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
