[Unit]
Description=Announce tftpd
BindsTo=tftpd.service

[Service]
ExecStart=/bin/sh -c "while true; do /usr/bin/etcdctl set {{ lochness_etcd_prefix }}/services/tftpd/{{machine_id}} '{ \"target\": \"{{machine_id}}.nodes.\", \"port\": 67 }' --ttl 60 > /dev/null; sleep 30; done"
ExecStop=/usr/bin/etcdctl rm {{ lochness_etcd_prefix }}/services/tftpd/{{machine_id}}
User=nobody
RestartSec=10s
Restart=always
