[Unit]
Description=TFTP Daemon
Wants=tftpd-announce.service

[Service]
ExecStart=/usr/bin/in.tftpd -s {{ tftpd_dir }}
StandardInput=socket
StandardOutput=inherit
StandardError=journal

[Install]
WantedBy=multi-user.target

