[Unit]
Description=Lochness Hypervisor Management
Wants=network.target etcd.service
After=network.target etcd.service

[Service]
ExecStart=/usr/sbin/chypervisord
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
