[Unit]
Description=etcd
Wants=network.target
After=network.target

[Service]
EnvironmentFile=-/tmp/mistify-config
EnvironmentFile=-/etc/sysconfig/etcd
ExecStart=/usr/sbin/etcd -data-dir {{ etcd_data_dir }}
StandardOutput=journal
StandardError=journal
User={{ etcd_user }}
Restart=always

[Install]
WantedBy=multi-user.target
