[Unit]
Description=Queensland DNS Server
Wants=network.target
After=network.target
Wants=etcd.service
Wants=dns-announce.service

[Service]
ExecStart=/usr/sbin/queensland -domain {{ lochness_domain }}. -prefix {{ lochness_etcd_prefix }}
StandardOutput=inherit
StandardError=journal
RestartSec=5s
Restart=always

[Install]
WantedBy=multi-user.target
WantedBy=etcd.service
