[Unit]
Description=Cluster Aware Firewall Daemon
Wants=network.target etcd.service
After=network.target etcd.service

[Service]
ExecStart=/usr/sbin/nfirewalld -i {{machine_id}}
StandardOutput=journal
StandardError=journal
RestartSec=20s
Restart=always

[Install]
WantedBy=multi-user.target
