[Unit]
Description=confd
Wants=network.target etcd.service
After=network.target etcd.service

[Service]
ExecStart=/usr/bin/confd
StandardOutput=inherit
StandardError=journal
RestartSec=30s
Restart=always

[Install]
WantedBy=multi-user.target
