{
    "{{lochness_etcd_prefix}}/config": [],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/beanstalkd": ["beanstalkd"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/dhcpd": ["dhcpd","dhcrelay"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/dhcrelay": ["dhcrelay"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/dns": ["dns","dhcpd"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/dover": ["dover"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/enfield": ["enfield"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/etcd": ["etcd"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/grootslang": ["grootslang"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/loveland": ["loveland"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/tftpd": ["tftpd"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/waheela": ["waheela"]
}
