{
    "{{lochness_etcd_prefix}}/config": [],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/beanstalkd": ["beanstalkd"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/cbootstrapd": ["cbootstrapd"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/cguestd": ["cguestd"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/chypervisord": ["chypervisord"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/cnetworkd": ["cnetworkd"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/cplacerd": ["cplacerd"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/cworkerd": ["cworkerd"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/dhcpd": ["dhcpd","dhcrelay"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/dhcrelay": ["dhcrelay"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/dns": ["dns","dhcpd"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/etcd": ["etcd"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/image": ["image"],
    "{{lochness_etcd_prefix}}/hypervisors/{{machine_id}}/config/tftpd": ["tftpd"]
}
