[Unit]
Description=Announce dhcpd
BindsTo=dhcpd.service
After=dhcpd.service

[Service]
ExecStart=/bin/sh -c "while true; do /usr/bin/etcdctl set {{ lochness_etcd_prefix }}/services/dhcpd/{{machine_id}} '{ \"target\": \"{{machine_id}}\", \"port\": 67 }' --ttl 60 > /dev/null; sleep 30; done"
ExecStop=/usr/bin/etcdctl rm {{ lochness_etcd_prefix }}/services/dhcpd/{{machine_id}}
User=nobody
RestartSec=10s
Restart=always
