[Unit]
Description=Mistify OVS Sub-agent
After=network.target openvswitch.service

[Service]
ExecStart=/opt/mistify/sbin/mistify-agent-ovs
LimitNOFILE=32768
Restart=always

[Install]
WantedBy=multi-user.target
