[Unit]
Description=Mistify Core Agent

Wants=mistify-agent-docker.service
Wants=mistify-agent-image.service
Wants=mistify-agent-libvirt.service
Wants=mistify-agent-ovs.service

After=mistify-agent-docker.service
After=mistify-agent-image.service
After=mistify-agent-libvirt.service
After=mistify-agent-ovs.service
After=network.target

[Service]
ExecStart=/opt/mistify/sbin/mistify-agent -c /etc/mistify/agent.json
LimitNOFILE=32768
Restart=always

[Install]
WantedBy=multi-user.target
