[Unit]
Description=Mistify Hypervisor Heartbeat
Wants=mistify-agent.service
After=network.target mistify-agent.service

[Service]
ExecStart=/usr/sbin/nheartbeatd -d {{machine_id}}
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
