[Unit]
Description=Etcd Ansible Trigger
Wants=network.target etcd.service
After=network.target etcd.service

[Service]
ExecStart=/usr/sbin/nconfigd -c /etc/nconfigd/config.json
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
