[Unit]
Description=Lochness Guest Management
Wants=network.target etcd.service
After=network.target etcd.service

[Service]
ExecStart=/usr/sbin/cguestd
Restart=always

[Install]
WantedBy=multi-user.target
