[Unit]
Description=Announce mistify-image-service
BindsTo=mistify-image-service.service
After=mistify-image-service.service
Wants=etcd.service

[Service]
ExecStart=/usr/sbin/queensland announce image --name={{machine_id}} --port=20000
User=nobody
Restart=always
